footer {
  background-color: #1e1e1e;
  padding: 40px 10%;
}
.footer-options {
  display: flex;
  flex-wrap: wrap;
  color: #9c9d9f;
  align-items: center;
  font-size: 0.8rem;
}
.footer-options p {
  padding: 10px;
  cursor: pointer;
}
.footer-networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
  padding: 10px;
}
.social-media,
.store {
  display: flex;
  align-items: center;
}
.social-media img,
.store img {
  height: 25px;
  text-align: center;
  padding: 0 0.4rem;
}
@media (min-width: 500px) {
  .social-media img,
  .store img {
    height: 40px;
    text-align: center;
    padding: 0 0.8rem;
  }
}
