.container {
  margin: 15px 10%;
  display: flex;
  flex-wrap: wrap;
}
.div-series,
.div-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8rem;
}
.container button{
  background-color: #1e1e1e;
  position: relative;
  border: none;
  width: 110px;
  height: 180px;
  margin: 5px;
  cursor: pointer;;
}
.container img{
  width: 100%;
}
.div-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
}