.modal-background {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  min-height: 100px;
  background-color: #fff;
  position: relative;
  left: -30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}
.container-modal .info {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.container-modal .info p{
  font-size: 12px;
  margin: 10px;
}
.modal-background button {
  background-color: #0188fe;
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: white;
  margin: 10px;
}
.modal-background img {
  width: 100px;
}
