.container {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 5%;
}
.img-container {
  display: flex;
}
.img-container button {
  background-color: transparent;
  border: none;
  height: 100%;
}
article:hover{
  background-color: rgba(0, 0, 0, 0.5);
  border: solid #0188fe 2px;
}
