.welcome {
  color: white;
}
.welcome-nav {
  background-color: #0188fe;
  padding: 10px 10%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.welcome-nav h1{
  font-size: 2rem;
  cursor: pointer;
}
.welcome-nav button {
  padding: 8px;
  background-color: transparent;
  border: none;
  margin: 5px;
  font-size: 1rem;
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
.welcome-nav button:before,
.welcome-nav button:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.welcome-nav button:after{
  left: 100%;
}
.welcome-nav button:hover{
  color: #fff;
}
.welcome-nav button:hover:before{
  left: 0;
}
.welcome-nav button:hover:after{
  left: 50%;
}
.welcome-nav .btn-trial {
  background-color: #414141;
}
.welcome-title {
  background-color: #414141;
  padding: 10px 10%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}
@media (min-width: 500px) {
  .welcome-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
